<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}CloudPC{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block stylesheets %}
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body>

<header class="header">
    <nav id="navigation">
        <i onclick="openMenu()" class=" fa fa-bars fa-2x nav-open"></i>

        <ul class="menu">
            <li ><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>

        </ul>
        <ul class="sub-menu">
            {% if is_granted('ROLE_USER') %}
                <li><a style="text-transform: capitalize" href="/profile">{{ app.user.username }}</a></li>
                <li class="black2"><a href="/logout">Déconnexion</a></li>
            {% else %}
                <li class="black"><a  href="/login">Connexion</a></li>
                <li class="white"><a href="/register">Inscription</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="white2"><a href="/admin">Administration</a></li>
            {% endif %}
        </ul>
    </nav>

    <div id="side-menu" class="side-nav">
        <i onclick="closeMenu()" class=" fa fa-2x fa-close nav-close"></i>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        {% if is_granted('ROLE_USER') %}
            <a href="/profile">{{ app.user.username }}</a>
            <a href="/logout">Déconnexion</a>
        {% else %}
            <a href="/login">Connexion</a>
            <a href="/register">Inscription</a>>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
           <a href="/admin">Administration</a>
        {% endif %}
    </div>
</header>

<div class="block">

            {% block body %}{% endblock %}


</div>
{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
</body>
</html>
